{% for iface in l2_interface -%}
#
interface {{ iface.iface_name }}
 {% if iface.desc != None -%}
 description {{ iface.desc }}
 {% endif -%}
{% if iface.link_type == 'trunk' -%}
 port link-type trunk
 undo port trunk permit vlan 1
 port trunk permit vlan {{ iface.allow_vlan }}
{% else -%}
 port link-type access
 port access vlan {{ iface.allow_vlan }}
{% endif -%}
{% endfor %}