<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUTHOR ADD</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<center><h1 class="page-header">Author Add</h1></center>
<form action="" method="post">
    <center>Author:<input type="text" name="author_name"><span>{{ error }}</span></center>
    <br>
    <center>Book:
        <select name="book_id" id="" multiple>
            {% for book in all_books %}
                <option value="{{ book.pk }}">{{ book.name }}</option>
            {% endfor %}
        </select></center>
    <center>
        <button class="btn-primary btn-sm">Submit</button>
    </center>
</form>
</body>
</html>