<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher Add</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<center><h1 class="page-header">Publisher Add</h1></center>
<form action="" method="post">
    <center><input type="text" name="publisher_name"></center>
    <center><span>{{ error }}</span></center>
    <center>
        <button class="btn-primary">Submit</button>
    </center>
</form>
</body>
</html>